ul {
  padding: 0;
}

li {
  list-style: none;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.checkbox,
.radio {
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item--completed .todo-item__text {
  text-decoration: line-through;
  color: grey;
}

.todo-controls {
  display: flex;
  align-items: center;
}

.todo-controls__label {
  cursor: pointer;
}

.add-todo-block {
  display: flex;
}

.add-todo-block .add-todo-block__toggle-all {
  margin-top: 6px;
  margin-right: 6px;
}
